body {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	background-image: url("halloweekbg.png");
}

h1 {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 50px;
	font-weight: bold;
	text-align: center;
}

.top-buffer {
  margin-bottom: 50px;
}

.panel-heading {
	text-align: center;
	font-size: 18px;
}

.panel-body {
	text-align: center;
}

.btn {
	background-color: #94D500;
	color: #ffffff

}

.btn:hover {
	background-color: #6d9a05;
	color: #ffffff
}

.btn:active {
	background-color: #8d9973;
	color: #ffffff
}

#ballot{
	background-color:#ffffff;
}

#logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#staffheader {
	display: block;
	margin-left: auto;
	margin-right: auto;

}

#check-availability{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#check-availability input{
    border: 0;
    box-shadow: none;
}

#check-availability button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#check-availability button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#check-availability .glyphicon-search{
    font-size: 23px;
}
